/* style.css */
@media only screen and (max-device-width: 900px){

}
body {
	background-color: #E3E2DF;
	margin-bottom: 5cm;
}

h1 {
	color: #EE4C7C;
	font-family: 'Tahoma', 'Arial', 'Sans-Serif'; 
	font-size: 60pt; 
	text-align: center;
 	position: static;
}
.brand {
	color:  #EE4C7C;
	font-family: 'Courier New', 'Arial', 'Sans-Serif'; 
	font-size: 90pt;
}
.subtitle{
	color: #EE4C7C;
	text-align: center;
	font-family: 'Georgia'; 
	font-size: 13pt; 
	position: static;
}
.parallax{
	background-image: url("dance.jpg");
	
	min-height: 500px
	position: relative;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

h2 {
	color: #9A1750;
	text-align: left;
	font-size: 20pt; 
	margin-top:1em;
	margin-bottom:1em;
	margin-left: 7em;
	margin-right: 7em;
}
h3 {
	color: #9A1750;
	text-align: left;
	font-size: 15pt; 
	margin-top:1em;
	margin-bottom:1em;
	margin-left: 9.3em;
	margin-right: 9.3em;
}
ul{
	margin-left: 12em;
	margin-right: 12em;
}
form{
	margin-left: 12em;
	margin-right: 12em;
}
table{
	margin-left: 12em;
	margin-right: 12em;
}
p {
	margin-left: 10em;
	margin-right:10em;
	text-align: left;
	padding: 50em, 10em, 10em, 50em;
	font-family: 'Times New Roman'; 
	font-size: 14pt; 
}
nav ul, footer ul {
	color: #5D001E;
	font-size: 1em; 
	font-family: 'Helvetica', 'Arial', 'Sans-Serif'; 
	padding: 50em, 10em, 10em, 50em;
	list-style: none;
	font-weight: bold; 
	margin-left: 9em;
	margin-right: 9em;
}
nav ul li, footer ul li {
	
	color: #5D001E;
	display: inline;
	margin-right: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
}

@media only screen and (max-device-width: 900px){
h1 {
	color: #EE4C7C;
	font-family: 'Tahoma', 'Arial', 'Sans-Serif'; 
	font-size: 40pt; 
	text-align: center;
 	position: static;
}
.brand {
	color:  #EE4C7C;
	font-family: 'Courier New', 'Arial', 'Sans-Serif'; 
	font-size: 60pt;
}
.subtitle{
	color: #EE4C7C;
	text-align: center;
	font-family: 'Georgia'; 
	font-size: 8.6pt; 
	position: static;
}
.parallax{
	background-image: url("dance.jpg");
	
	min-height: 400px
	position: relative;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

h2 {
	color: #9A1750;
	text-align: left;
	font-size: 15pt; 
	margin-top:1em;
	margin-bottom:1em;
	margin-left: 7em;
	margin-right: 7em;
}
h3 {
	color: #9A1750;
	text-align: left;
	font-size: 11.5pt; 
	margin-top:1em;
	margin-bottom:1em;
	margin-left: 9.3em;
	margin-right: 9.3em;
}
ul{
	font-size: 11.5pt; 
	margin-left: 12em;
	margin-right: 12em;
}
form{
	font-size: 11.5pt; 
	margin-left: 12em;
	margin-right: 12em;
}
table{
	font-size: 11.5pt; 
	margin-left: 12em;
	margin-right: 12em;
}
p {
	margin-left: 10em;
	margin-right:10em;
	text-align: left;
	padding: 50em, 10em, 10em, 50em;
	font-family: 'Times New Roman'; 
	font-size: 14pt; 
}
nav ul, footer ul {
	color: #5D001E;
	font-size: 1em; 
	font-family: 'Helvetica', 'Arial', 'Sans-Serif'; 
	padding: 50em, 10em, 10em, 50em;
	list-style: none;
	font-weight: bold; 
	margin-left: 9em;
	margin-right: 9em;
}
nav ul li, footer ul li {
	
	color: #5D001E;
	display: inline;
	margin-right: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
}

}	
	